button {
    width: 100%;
    margin-block: 30px;
    padding: 10px;
    border-radius: 5px;
    border: none;
    background: rgb(61, 122, 160);
    color: aliceblue;
    font-weight: bold;
    font-size: 18px;
    box-shadow: 1px 1px 3px black;
    text-shadow: 1px 1px 2px rgb(75, 75, 75);
    text-transform: uppercase;
}

button:hover {
    transition: 0.3s;
    transform: scale(1.02);
    background: rgb(99, 195, 255);
    cursor: pointer;
}